:root{
    --nav-color: #675d50;
    --nav-text: #fff;
    --primary-color: #f3deba;
    --secondary-color: #abc4aa;
    --hover-color: #a9907e;
  }

body{
    background-color: var(--primary-color);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    font-size: 1.2rem;
    height: auto;
}

.flex-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
}

.flex-container .flex-nav{
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
}

.category-item{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.flex-categories{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}